# This group is read both both by the client and the server
# use it for options that affect everything
[client-mariadb]

# This group is read by the server
[mariadb]

log_error=/var/log/mariadb/error.log
log_warnings=<%= ${MARIADB_LOG_WARNINGS} %>

character_set_server=<%= ${MARIADB_CHARACTER_SET} %>
collation_server=<%= ${MARIADB_COLLATION} %>

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# include all files from the config directory
!includedir /etc/my.cnf.d
