#======================================================================================================================
# Copyright (c) 2015 Thomas Boerger <https://webhippie.de>
# Originally from https://github.com/dockhippie/mariadb/blob/master/latest/overlay/etc/templates/my.cnf.tmpl
#
# Modifications copyright (c) 2021 Ben Green <https://bcgdesign.com>
#======================================================================================================================

[client]
port = 3306
socket = /run/mysqld/mysqld.sock

default-character-set = <%= ${MARIADB_DEFAULT_CHARACTER_SET} %>

[mysqld]
port = 3306
socket = /run/mysqld/mysqld.sock

character-set-server = <%= ${MARIADB_CHARACTER_SET_SERVER} %>
collation-server = <%= ${MARIADB_COLLATION_SERVER} %>

skip-external-locking
key_buffer_size = <%= ${MARIADB_KEY_BUFFER_SIZE} %>
max_allowed_packet = <%= ${MARIADB_MAX_ALLOWED_PACKET} %>
table_open_cache = <%= ${MARIADB_TABLE_OPEN_CACHE} %>
sort_buffer_size = <%= ${MARIADB_SORT_BUFFER_SIZE} %>
net_buffer_length = <%= ${MARIADB_NET_BUFFER_SIZE} %>
read_buffer_size = <%= ${MARIADB_READ_BUFFER_SIZE} %>
read_rnd_buffer_size = <%= ${MARIADB_READ_RND_BUFFER_SIZE} %>
myisam_sort_buffer_size = <%= ${MARIADB_MYISAM_SORT_BUFFER_SIZE} %>
max_connections = <%= ${MARIADB_MAX_CONNECTIONS} %>

tmpdir = /tmp

<% if [ "${MARIADB_LOG_BIN}" = "0" ] ; then -%>
skip-log-bin
<% else -%>
log-bin = <%= ${MARIADB_LOG_BIN} %>
binlog_format = <%= ${MARIADB_BINLOG_FORMAT} %>
<% fi -%>
expire_logs_days = <%= ${MARIADB_EXPIRE_LOGS_DAYS} %>

server-id = <%= ${MARIADB_SERVER_ID} %>

innodb_data_home_dir = /var/lib/mysql
innodb_data_file_path = <%= ${MARIADB_INNODB_DATA_FILE_PATH} %>
innodb_log_group_home_dir = /var/lib/mysql
innodb_buffer_pool_size = <%= ${MARIADB_INNODB_BUFFER_POOL_SIZE} %>
innodb_log_file_size = <%= ${MARIADB_INNODB_LOG_FILE_SIZE} %>
innodb_log_buffer_size = <%= ${MARIADB_INNODB_LOG_BUFFER_SIZE} %>
innodb_flush_log_at_trx_commit = <%= ${MARIADB_INNODB_FLUSH_LOG_AT_TRX_COMMIT} %>
innodb_lock_wait_timeout = <%= ${MARIADB_INNODB_LOCK_WAIT_TIMEOUT} %>
innodb_use_native_aio = <%= ${MARIADB_INNODB_USE_NATIVE_AIO} %>
innodb_file_per_table = <%= ${MARIADB_INNODB_FILE_PER_TABLE} %>

[mysqldump]
quick
quote-names
max_allowed_packet = <%= ${MARIADB_MAX_ALLOWED_PACKET} %>

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = <%= ${MARIADB_KEY_BUFFER_SIZE} %>
sort_buffer_size = <%= ${MARIADB_SORT_BUFFER_SIZE} %>
read_buffer = <%= ${MARIADB_READ_BUFFER} %>
write_buffer = <%= ${MARIADB_WRITE_BUFFER} %>

[mysqlhotcopy]
interactive-timeout

!includedir /etc/mysql/conf.d/
