name: dev

on:
  push:
    branches: ['**']
    tags-ignore: ['**']
  workflow_dispatch:

env:
  TEST_TAG: mariadb:test

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        mariadb: [ "10.11", "11.4", "11.8", "12.1", "12.2" ]
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v6
      -
        name: Get repository name
        run: echo "REPOSITORY_NAME=$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')" >> $GITHUB_ENV
        shell: bash
      -
        name: Read image version
        uses: bfren/read-file@v2
        with:
          file: ./VERSION
        id: version
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to Quay.io Container Registry
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.QUAY_TOKEN }}
      -
        name: Build and export
        id: docker_export
        uses: docker/build-push-action@v6
        with:
          file: ./${{ matrix.mariadb }}/Dockerfile
          build-args: |
            BF_IMAGE=${{ env.REPOSITORY_NAME }}
            BF_VERSION=${{ steps.version.outputs.contents }}
          load: true
          tags: ${{ env.TEST_TAG }}
      -
        name: Run tests
        id: docker_test
        run: |
          docker run --entrypoint /test ${{ env.TEST_TAG }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./${{ matrix.mariadb }}/Dockerfile
          build-args: |
            BF_IMAGE=${{ env.REPOSITORY_NAME }}
            BF_VERSION=${{ steps.version.outputs.contents }}
          push: ${{ startsWith(github.ref, 'refs/heads/') }}
          platforms: linux/amd64,linux/arm64
          tags: |
            bfren/mariadb:mariadb${{ matrix.mariadb }}-dev
            bfren/mariadb:mariadb${{ matrix.mariadb }}-${{ steps.version.outputs.contents }}-dev
            quay.io/bfren/mariadb:mariadb${{ matrix.mariadb }}-dev
            quay.io/bfren/mariadb:mariadb${{ matrix.mariadb }}-${{ steps.version.outputs.contents }}-dev
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
